.tittleModal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBody{
    height: 90px;
    /* background: rgb(58,77,180); */
    /* background: linear-gradient(72deg, rgba(58,77,180,1) 9%, rgba(122,29,253,1) 74%);   */
}